<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/about.css">
    <title>Intro to coding SG</title>
  </head>
  <body>

    {{!-- <div class="navBar">
      <a href="/">Home</a>
      <a href="about">About Me</a>
      <a href="faq">FAQ</a>
      <a href="contact">Contact Me</a>
    </div> --}}

    <!-- <div class="profilePic">
      <img id="profilePic" src="profile.jpg" alt="Profile Pic" >
    </div> -->

    <h1> Credentials </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


  </body>
</html>
