<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/about.css">
    <title>Intro to coding SG</title>
  </head>
  <body>

    <h1> Credentials </h1>

    <div class="container-about">

      <div class="card-deck">
        <div class="card ">
          <img class="card-img-top" src="/image/nus.jpg" alt="NUS logo">
          <div class="card-header">
            Graduated from NUS
          </div>
          <ul class="list-group list-group-flush ">
            <li class="list-group-item ">Business</li>
            <li class="list-group-item ">Specializing in Finance</li>
            <li class="list-group-item ">2014-2017</li>
          </ul>

        </div>
        <div class="card ">
          <img class="card-img-top" src="/image/ga.jpg" alt="GA logo">
          <div class="card-header">
            Graduated from General Assembly
          </div>
          <ul class="list-group list-group-flush ">
            <li class="list-group-item ">Web Development Immersive</li>
            <li class="list-group-item ">Full-stack web developer</li>
            <li class="list-group-item ">2017</li>
          </ul>

        </div>
      </div>

    </div>


  </body>
</html>
