<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <title>Intro to coding SG</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/faq.css">
  </head>
  <body>

    {{!-- <div class="navBar">
      <a href="/">Home</a>
      <a href="about">About Me</a>
      <a href="faq">FAQ</a>
      <a href="contact">Contact Me</a>

    </div> --}}

    <h1 id="faqTitle"> Frequently Asked Questions </h1>

    <div id="accordion" role="tablist">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              What are the fees?
            </a>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            The first leson is FREE. Afterwhich I would charge 50 dollars per lesson which lasts an hour.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              What would I need to bring for a lesson?
            </a>
          </h5>
        </div>

        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            Just a laptop would do regardless of OS.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="headingThree">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              What type of students do you take in?
            </a>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
          Pretty much anyone who is interested in learning code or building their own websites. Whoever you are, entrepreneur,
          student, retiree, I would be more than happy to teach you code.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="headingFour">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Would it be possible for me to enroll my young child into your lessons?
            </a>
          </h5>
        </div>

        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            Sure! If your child is really interested in technology, then why not? Anyways, getting a headstart in a sunrise industry is definitely encouraged.
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingFive">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                What are the topics and languages you teach?
              </a>
            </h5>
          </div>

          <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
              The topics which I cover include HTML, CSS, Javascript, Jquery, Nodejs, MongoDB.
               If you would like to learn more, I could touch on PostgreSQL, Ruby, Ruby on Rails and React.
            </div>
          </div>

          <div class="card">
            <div class="card-header" role="tab" id="headingSix">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Is there a minimum commitment period?
                </a>
              </h5>
            </div>

            <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
              <div class="card-body">
                Not at all. One of the pros of personalised one to one lessons is that we can learn at your pace. Hence, we can end the
                lessons once you feel that you are satisfied with what you have learnt so far and dont intend to go any further.
              </div>
            </div>

      </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
