<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Intro to coding SG</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">

  </head>
  <body>

    {{!-- <div class="navBar">
      <a href="/">Home</a>
      <a href="about">About Me</a>
      <a href="faq">FAQ</a>
      <a href="contact">Contact Me</a>
    </div> --}}

    <div class="profilePic">
      <img id="profilePic" src="/image/profile.jpg" alt="Profile Pic" >
    </div>


    <div class = "logos">
      <img id = "logo" src="/image/html_logo.png" alt="html logo" >
      <img id = "logo" src="/image/css_logo.png" alt="html logo" >
      <img id = "logo" src="/image/javascript_logo.png" alt="html logo" >

      <h1>Introduction to Coding <br> Singapore</h1>
      <!-- <h1>Singapore</h1> -->


      <img id = "logo" src="/image/jquery_logo.png" alt="html logo" >
      <img id = "logo" src="/image/node_logo.jpg" alt="html logo" >
      <img id = "logo" src="/image/mongo_logo.jpg" alt="html logo" >
    </div>

    <h2>Private one to one coding lessons!</h2>

    {{!-- <div class="jumbotron">
      <h1 class="display-3">Hello, world!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div> --}}

    <p>
      Have you ever dreamt of being able to create websites from scratch? If you have, I would be able to get
      you started on your way to becoming a web developer. Having recently graduated from General Assembly's
      Web Development Immersive course, I know the struggles of going from absolute zero in coding to being
      able to create fully functional websites.
    </p>

    <p>
      If you are interested or would like to know more, you can contact me at nawas@live.com.sg.
    </p>

  </body>
</html>
